.custom-btn-outline-primary{
	border: 3px solid #4154F1;
	text-decoration: none;
	color: white;
}

.custom-btn-outline-primary:hover{
	color: white;
}

.footer-top p{
	color: #000;
}

.modal-content{
	background-color: #000 !important;
	box-shadow: 0px 0 10px #3297CF;
}

.icon-message{
	font-size: 10px;
}

.wa{
	background-color: #000000;
	/*color: #000000;*/
}

.wa-footer{
	color: #000000;
}

.btn-wa{
	margin-top: 30px;
	line-height: 0;
	padding: 15px 40px;
	border-radius: 40px;
	transition: 0.5s;
	color: #fff;
	background: #FF8A00;
	box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.top-header{
	display: block;
	background-color: #000000;
}

.btn-phone{
	background: white;
	color: black;
	padding: 1px;
	border-radius: 2px;
	font-size: 15px;
	margin-left: 100px;
}

.contact .custom-btn-orange{
	color: #fff !important;
	background: #FF8A00 !important;
}

.btn-model{
	line-height: 2px;
	border-radius: 15px;
	/*padding: 8px;*/
	padding: 0px 10px;
	transition: 0.5s;
	color: #000000;
	border-color: #000000;
	border-width: 2px;
	/*width: 70%;*/
	border-style: solid;
}

.custom-text-bold{
	font-weight: bold;
}

.custom-font-sm{
	font-size: 10px;
}

.custom-modal-close{
	font-size: 30px;
}

.custom-modal-header{
	padding-left: 15px;
}

.logo-produk{
	width: 50px;
}

@media (max-width: 768px) {
	.top-header{
		display: none !important;
	}
}